.headerMain{
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
    background-color: #585454;
    color: white;
}
.headerMain button{
    background: #00ff1fcf;
    border: none;
    padding: 8px 15px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 5px #888888;
}